body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input {
    text-align: center;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
}

button {
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}